{% load i18n %}
<nav class="navbar bg-primary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
      
        <div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="fa fa-home"></i>Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Producto</a>
                    </li>
                    {% if perms.auth.view_user %}
                        Permisos
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-lock"></i> Seguridad
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user"></i> Usuarios
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-drivers-license"></i> Roles
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-key"></i> Permisos
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <form method="post" action="{% url 'admin_ssu:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link">
                                <i class="fa fa-sign-out-alt"></i> Cerrar sesión
                            </button>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url "administracion:servicios" %}">Servicios</a>
                </li> {% endcomment %}
            </ul>
            </div>
        </div>
    </div>
</nav>