{% load static %}
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 mb-5 d-flex justify-content-center">
            <img src="{% static 'beneficiaries_ssu/images/logo_ssu_blanco_150x150.png' %}" alt="Logo Seguro Universitario" height="150px">
        </div>
        <div class="col-12 col-md-4">
            <p class="wiget-title">DATOS DE CONTACTO</p>
            <div>
                <strong>DIRECCIÓN:</strong>
                <span>Av. Cipriano Barace esquina Av. La Salle Nº 680, Trinidad, Beni - Bolivia</span>
            </div>
            <div>
                <strong>DIRECCIÓN:</strong>
                <span>Av. Cipriano Barace esquina Av. La Salle Nº 680, Trinidad, Beni - Bolivia</span>
            </div>
            <div>
                <strong>DIRECCIÓN:</strong>
                <span>Av. Cipriano Barace esquina Av. La Salle Nº 680, Trinidad, Beni - Bolivia</span>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <p class="wiget-title">LINKS</p>
            <div>
                <strong>Inicio</strong>
                <strong>Admin</strong>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-4">
            <p class="wiget-title">HORARIO DE ATENCIÓN</p>
            <div>
                <strong>Lunes - Domingo 7:00 a 00:00</strong>
            </div>
            <hr>
        </div>
    </div>
</div>
<hr class="ms-md-5 me-md-5">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center footer-center mb-5">Diseñado e Implementado por Neomedia Bolivia SRL. © 2023 All Rights Reserved</p>
        </div>
    </div>
</div>