{% extends "admin_ssu/master.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="heading">
                <i class="fa fa-user-plus"></i> {{ title }}
                {% comment %} {% if perms.beneficiaries_ssu.add_beneficiary %}
                <a href="{% url "admin_ssu:bene_ssu:b_create" %}" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Nuevo</a>
                {% endif %} {% endcomment %}
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="search-div">
                        <form action="" method="GET">
                            <input class="form-control" type="text" name="search" placeholder="Buscar Beneficiario" value="{{ search }}">
                        </form>
                    </div>
                    {% comment %} <div>
                        <div class="alert alert-info" role="alert">
                            <i class="fa fa-info-circle"></i> <strong>Información:</strong> En esta sección se listan todos los beneficiarios registrados en el sistema.
                        </div>
                    </div> {% endcomment %}
                    <div class="bar-blue">
                        {% if perms.beneficiaries_ssu.add_beneficiary %}
                            <a href="{% url "admin_ssu:bene_ssu:b_create" %}" class="btn-sq-success">
                                <i class="fa fa-user-plus"></i>
                                <span>Nuevo</span>
                            </a>
                        {% endif %}
                            <p class="badge-success">NRO DE REGISTRO(S): {{ total_records }}</p>
                        
                    </div>
                    <div class="table-responsive">
                        <div class="col-12">
                        
                            <table id="table_users" class="table table-hover table-bordered">
                                <thead>
                                    <tr >
                                        <th>N#</th>
                                        <th>Documento</th>
                                        <th>Nombre Completo</th>
                                        <th>Edad (Años)</th>
                                        <th>Tipo Beneficiario</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="search_results" style="display: none;">

                                </tbody>
                                <tbody id="original_data">
                                    {% for bene in beneficiaries %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ bene.document_type }}: {{ bene.dni }}</td>
                                        <td>
                                            <div class="d-flex align-items-center" style="height: 100%">
                                                <i class="fa fa-check-circle-o b-check"></i>
                                                {{ bene.first_name }}
                                                {{ bene.paternal_last_name }} {{ bene.maternal_last_name }}
                                            </div>
                                        </td>
                                        <td>{{ bene.age }}</td>
                                        <td>
                                            {% if bene.type_beneficiary %}
                                                {{ bene.type_beneficiary.name }}
                                            {% elif bene.beneficiary_d %}
                                                Dependiente
                                            {% else %}
                                                Sin Tipo
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if bene.is_active %}
                                                <span class="badge text-bg-success">Activo</span>
                                            {% else %}
                                                <span class="badge text-bg-danger">Inactivo</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if perms.beneficiaries_ssu.change_beneficiary %}
                                            <a href="{% url "admin_ssu:bene_ssu:b_detail" bene.id %}" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></a>
                                            {% endif %}
                                            {% if perms.beneficiaries_ssu.change_beneficiary %}
                                            <a href="{% url "admin_ssu:bene_ssu:b_edit" bene.id %}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                            {% endif %}
                                            {% if perms.beneficiaries_ssu.delete_beneficiary %}
                                            {% comment %} <a href="#" class="btn btn-sm my-btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ type.id }}"><i class="fa fa-trash"></i></a> {% endcomment %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="pagination" class="row">
                        <div class="col-md-6">
                            <span class="step-links d-flex justify-content-center justify-content-md-start">
                                <span class="current">
                                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                </span>
                            </span>
                        </div>
                        <div class="col">
                            <nav aria-label="Page navigation">
                                <ul class="pagination d-flex justify-content-center justify-content-md-end">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo; <span class="pagi-hidden">Anterior</span></span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="?page=1&search={{ search }}"> 1 </a></li>
                                    <li class="page-item disabled"><a class="page-link" href=""> ... </a></li>
                                    <li class="page-item active"><span class="page-link">{{ page_obj.number }} </span></li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Previous">
                                            <span aria-hidden="true">&laquo; <span class="pagi-hidden">Anterior</span></span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><span class="page-link">{{ page_obj.number }} </span></li>
                                    {% endif %}
                                                                        
                                    
                                    {% comment %} {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %} {% endcomment %}
                                    
                                    
                                    {% if page_obj.has_next %}
                                    <li class="page-item disabled"><a class="page-link" href=""> ... </a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}"> {{ page_obj.paginator.num_pages }} </a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search }}" aria-label="Next">
                                            <span aria-hidden="true"><span class="pagi-hidden">Siguiente</span> &raquo;</span>
                                        </a>
                                    </li>
                                    {% else  %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true"><span class="pagi-hidden">Siguiente</span> &raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                        
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header my-bg-danger" data-bs-theme="dark">
          <h1 class="modal-title fs-5" id="deleteModalLabel"> <i class="fa fa-trash"></i> Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
            <p>¿Está seguro de eliminar este usuario?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancelar</button>
          <form action="" method="POST" id="deleteForm">
            {% csrf_token %}
            <button type="submit" class="btn my-btn-danger">Eliminar</button>
        </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
{% block js %}
{% endblock js %}
{% block css %}
<style>
    .search-div {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    .search-div input {
        width: 15rem;
    }
    .bar-blue{
        background-color: #0d6efd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .btn-sq-success{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0.3rem 1rem;
        color: white;
        background-color: #03d31b;
        
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .btn-sq-success span{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .badge-success{
        color: white;
        background-color: #03d31b;

        font-size: 0.8rem;
        {% comment %} font-weight: bold; {% endcomment %}

        padding: 0.3rem 1rem;
        margin: 0.4rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 1rem;
    }
    #table_users tr{
        font-size: 0.9rem;
    }
    #table_users tr th{
        font-size: 0.9rem;
        font-weight: 200;
    }
    .b-check{
        color: #03d31b;
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
    @media (max-width: 767px) {
        .pagi-hidden{
            display: none;
        }
    }
</style>
{% endblock css %}